## Function

In [1]:
def get_full_name():
    first_name = 'Peter'
    last_name = 'Parker'
    full_name = first_name+' '+last_name
    return full_name

In [2]:
get_full_name()

'Peter Parker'

In [9]:
def addition(*args):
    res = 0
    for i in args:
        res += i
    print(res)

In [10]:
addition(2, 3, 4, 5)

14

In [15]:
def myFunction(*args, **kwargs):
    print(args)
    print(kwargs)

In [16]:
myFunction(2, 3, first_name='Peter', last_name='Parker')

(2, 3)
{'first_name': 'Peter', 'last_name': 'Parker'}

In [17]:
from statistics import *

In [18]:
ages = [20, 20, 4, 24, 25, 22, 26, 20, 23, 22, 26]

In [19]:
mean(ages)

21.09090909090909

In [20]:
max(ages)

26

In [21]:
median(ages)

22

In [22]:
stdev(ages)

6.106628291529549

## Map function

In [24]:
def even_or_odd(num):
    if num%2 == 0:
        return 'The number {} is even.'.format(num)
    else:
        return 'The number {} is odd.'.format(num)

In [25]:
even_or_odd(10)

'The number 10 is even'

In [27]:
lst = [1, 2, 5, 16, 28, 38, 29, 40, 59, 30, 68, 69, 89, 78, 99]

In [29]:
list(map(even_or_odd, lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 5 is odd',
 'The number 16 is even',
 'The number 28 is even',
 'The number 38 is even',
 'The number 29 is odd',
 'The number 40 is even',
 'The number 59 is odd',
 'The number 30 is even',
 'The number 68 is even',
 'The number 69 is odd',
 'The number 89 is odd',
 'The number 78 is even',
 'The number 99 is odd']

## Filter function

In [36]:
def even_or_odd_check(num):
    if num%2 == 0:
        return True

In [37]:
lst = [1, 2, 5, 16, 28, 38, 29, 40, 59, 30, 68, 69, 89, 78, 99]

In [38]:
list(filter(even_or_odd_check, lst))

[2, 16, 28, 38, 40, 30, 68, 78]

In [40]:
list(filter(lambda num: num%2 == 0, lst))

[2, 16, 28, 38, 40, 30, 68, 78]